.chart-container{
    width: 100%;
    background-color: #E1CAE4;
    height: auto;
    margin-top: 10px;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}