.chart-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chart-percent {
    width: 21px;
    height: 139px;
    background-color: #BAA5ED;
    border: solid black 1px;
    border-radius: 50px;
}

.chart-item p {
    font-size: 12px;
    font-weight: 400;
    color: black;
}

.style-chart {
    width: 100%;
    background-color: #3D15A9;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 300;
    font-size: 12px;
    border-radius: 50px;
}

.chart-percent-item {
    width: 100%;
    border-radius: 50px;
    background-color: red;
    max-height: 100%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 300;
    font-size: 12px;
}